<h1>Welcome to RideShare</h1>
<main class="home">
  <section class="grouping">
    <article>
      <%= link_to "All Drivers", drivers_path %>
    </article>
    <article>
      <%= link_to "Add Driver", new_driver_path %>
    </article>
  </section>
  <section class="grouping">
    <article>
      <%= link_to "All Passengers", passengers_path %>
    </article>
    <article>
      <%= link_to "Add Passenger", new_passenger_path %>
    </article>
  </section>
</main>
