<nav>
  <ul>
    <li>
      <%= link_to "Home", trips_path %>
    </li>
  </ul>
</nav>

<header>
  <h1>New Passenger</h1>
</header>
<%= render partial: "form", locals: {page_title: "Please enter information for a new passenger!"} %>
