<nav>
  <ul>
    <li>
      <%= link_to "Home", trips_path %>
    </li>
    <li>
      <%= link_to "Add Driver", new_driver_path %>
    </li>
  </ul>
</nav>

<h1>All Drivers</h1>

<main>
  <ul>
    <% @drivers.each do |driver| %>
    <li>
       <%= link_to driver.name, driver_path(driver.id) %>
    </li>
    <% end %>
  </ul>
</main>
